<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node js Express Tutorial</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <td><b>Customer</b></td>
            <td><b>Order</b></td>
            <td colspan="2"><b>Action</b></td>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < orders.length; i++) { %>
          <tr>
            <td><a href="/customer/details/<%= orders[i].customerId %>" class="btn btn-danger"><%= orders[i].customerName %>d</a></td>
            <td><a href="/order/details/<%= orders[i]._id %>" class="btn btn-danger">Order</a></td>           
            <td><a href="/order/deliver/<%= orders[i]._id %>" class="btn btn-danger">Deliver</a></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>