<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node js Express Tutorial</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <td><b>Item Name</b></td>
            <td><b>Item Price</b></td>
            <td colspan="2"><b>Action</b></td>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < menus.length; i++) { %>
          <tr>
            <td><%= menus[i].name %></td>
            <td><%= menus[i].price %></td>
            <td><a href="/menu/edit/<%= menus[i]._id %>" class="btn btn-primary">Edit</a></td>
            <td><a href="/menu/delete/<%= menus[i]._id %>" class="btn btn-danger">Delete</a></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>