<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>View order</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
        <h1>Customer Details</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <td><b>Title</b></td>
              <td><b>Value</b></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Name</td>
              <td><%= customer.name %></td>           
            </tr>
            <tr>
              <td>Address</td>
              <td><%= customer.address %></td>           
            </tr>

          </tbody>
        </table>
      </div>
  </body>
</html>